.panda-face {
    height: 120px;
    width: 134px;
    background-color: #ffffff;
    border: 3px solid #2e0d30;
    border-radius: 120px 120px 90px 90px;
    position: absolute;
    top: 32px;
    margin: auto;
    left: 0;
    right: 0;
}

/* Orelhas */
.orelha-l,
.orelha-r {
    background-color: #3f3554;
    height: 40px;
    width: 45px;
    border: 3px solid #2e0d30;
    border-radius: 40px 40px 0 0;
    top: 28px;
    position: absolute;
}

.orelha-l {
    transform: rotate(-38deg);
    left: 172px;
}

.orelha-r {
    transform: rotate(38deg);
    right: 172px;
}

.blush-l,
.blush-r {
    background-color: #ff8bb1;
    height: 16px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 64px;
}

.blush-l {
    transform: rotate(25deg);
    left: 16px;
}

.blush-r {
    transform: rotate(-25deg);
    right: 16px;
}

/* Olhos */
.olho-l,
.olho-r {
    background-color: #3f3554;
    height: 35px;
    width: 32px;
    border-radius: 32px;
    position: absolute;
    top: 35px;
}

.olho-l {
    left: 22px;
    transform: rotate(-20deg);
}

.olho-r {
    right: 22px;
    transform: rotate(20deg);
}

.bolaOlho-l,
.bolaOlho-r {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 1s all;
}

.bolaOlho-l {
    transform: rotate(20deg);
}

.bolaOlho-r {
    transform: rotate(-20deg);
}

.nariz {
    height: 16px;
    width: 16px;
    background-color: #3f3554;
    position: absolute;
    top: 70px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 19px 0 0 4px;
    transform: rotate(45deg);
}

.nariz:before {
    content: "";
    position: absolute;
    background-color: #3f3554;
    height: 10px;
    width: 2px;
    transform: rotate(-45deg);
    top: 12px;
    left: 16px;
}

.boca,
.boca:before {
    height: 12px;
    width: 15px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 3px #3f3554;
}

.boca {
    top: 85px;
    left: 50px;
}

.boca:before {
    content: "";
    position: absolute;
    left: 14px;
}

.mao-l,
.mao-r {
    background-color: #3f3554;
    height: 45px;
    width: 40px;
    border: 3px solid #2e0d30;
    border-radius: 10px 10px 35px 35px;
    transition: 1s all;
    position: absolute;
    top: 134px;
}

.mao-l {
    left: 120px;
}

.mao-r {
    right: 120px;
}

.pe-l,
.pe-r {
    background-color: #3f3554;
    height: 50px;
    width: 50px;
    border: 3px solid #2e0d30;
    border-radius: 40px 40px 20px 20px;
    position: absolute;
    top: 425px;
}

.pe-l {
    left: 160px;
}

.pe-r {
    right: 160px;
}

.pe-l:before,
.pe-r:before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 22px;
    width: 28px;
    top: 18px;
    left: 9px;
    border-radius: 25px 25px 10px 10px;
}

.pe-l:after,
.pe-r:after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    top: 5px;
    left: 18px;
    box-shadow: 14px 6px #ffffff, -14px 6px #ffffff;
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
    }
}