* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f4c531;
}

.container {
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    width: 380px;
    height: 300px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 50px);
    left: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    color: #2d1300;
}

form input:focus {
    border-color: #f4c531;
}

form input:not(:last-child) {
    margin-bottom: 14px;
}

.username {
    margin-top: 7px;
}

form button {
    font-size: 15px;
    padding: 13px 0;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #f4c531;
    color: #2e0d30;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.4px;
    transition: 0.5s;
}

form input {
    border: none;
    border-bottom: 2px solid #d3d3d3;
    /* Linha inferior padrão */
    background: none;
    padding: 8px 0;
    font-size: 16px;
    outline: none;
    color: #2e0d30;
    transition: border-color 0.3s;
}

form input:focus {
    border-bottom: 2px solid #f4c531;
    /* Linha inferior no foco */
}

form input::placeholder {
    color: #64543d;
    font-size: 14px;
    font-weight: 500;
}

/* Botão do formulário */
form button:hover {
    background-color: #d4a520;
}