* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #f4c531;
  }
  .container {
    height: 500px;
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  form {
    width: 380px;
    height: 300px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 50px);
    left: 50%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
  }
  form label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    color: #2e0d30;
  }
  form input {
    font-size: 15px;
    font-weight: 400;
    color: #3f3554;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #3f3554;
    outline: none;
  }
  form input:focus {
    border-color: #f4c531;
  }
  form input:not(:last-child) {
    margin-bottom: 14px;
  }
  form button {
    font-size: 15px;
    padding: 13px 0;
    border-radius: 32px;
    border: none;
    outline: none;
    background-color: #f4c531;
    color: #2e0d30;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2.4px;
    margin-top: 13px;
  }